*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0% 5%;
}
h4{
    font-size: 1rem;
}
h3{
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
    line-height: 1.5rem;
    margin: 2rem 0;
}
a{
    color: rgb(49, 49, 49);
    text-underline-offset: 2px;
}
a:hover{
    color: #f27121;
}
p{
    color: rgb(49, 49, 49);
    font-size: 1rem;
    line-height: 1.5rem;
}
.container{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
